/* PT Sans */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');

/* General page/element styles */
    html {
        height: 100%;
        /* font-family:  Orbitron, "Lucida Console", Consolas, monospace; */
        background-size: auto 100%;
        background-repeat: repeat;
        background-origin: border-box;
    }

    body {
        height: 100%;
        position: relative;
        background: black;
        transform:scale(1.4);
        color: white;
        font-family: "PT Sans", sans-serif;
    }

    .main {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        margin-left: -360px;
        margin-top: -240px;
        left: 50%;
        width: 720px;
        height: 480px;
        background: url("../images/backdrop_normal.png");
    }

    .pane {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: visibility 0s, opacity .3s;
        visibility: hidden;
    }

    #intro-pane {
        text-align: center;
    }

    #logo {
    }

    #logo > p {
        background: url("../images/logo.png");
        background-position: center;
        background-repeat: no-repeat;
        font-size: 3rem;
        margin-top: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-shadow: -1px -1px 0px black, -1px 1px 0px black, 1px -1px 0px black, 1px 1px 0px black;
    }
    #question-pane {
        background: url("../images/backdrop_question.png"), url("../images/backdrop_dim.png");
    }

    #question {
        position: absolute;
        left: 95px;
        top: 117px;
        width: 550px;
        height: 61px;
        font-size: 1.5rem;
        text-align: center;
    }

    .answer-item {
        position: absolute;
        width: 269px;
        height: 20px;
    }
    .answer-selected>.answer-label {
        color: white;
    }
    .answer-selected>.answer-text {
        color: black;
    }

    .answer-item:nth-child(1) {
        padding: 10px;
        top: 220px;
        left: 40px;
    }

    .answer-item:nth-child(2) {
        padding: 10px;
        top: 220px;
        left: 400px;
    }

    .answer-item:nth-child(3) {
        padding: 10px;
        top: 288px;
        left: 40px;
    }

    .answer-item:nth-child(4) {
        padding: 10px;
        top: 288px;
        left: 400px;
    }

    .answer-label {
        color:orange;
    }

    #timer {
        position: absolute;
        left: 50%;
        font-size: 2rem;
        bottom: 13px;
        margin-left: -1rem;
    }

    .fade-in {
        opacity: 1;
        transition: visibility 0s, opacity .3s;
        visibility: visible;
    }
 

    #answer-selection {
        background: url("../images/selection.png");
        width: 312px;
        height: 48px;
        position: absolute;
    }
    #answer-selection.position-0 {
        left: 29px;
        top: 217px;
    }
    #answer-selection.position-1 {
        left: 389px;
        top: 217px;
    }
    #answer-selection.position-2 {
        left: 29px;
        top: 284px;
    }
    #answer-selection.position-3 {
        left: 389px;
        top: 284px;
    }
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .hidden {
        display:  none;
    }

    .clickable {
        cursor: pointer;
    }