

/* General page/element styles */
    html {
        height: 100%;
        /* font-family:  Orbitron, "Lucida Console", Consolas, monospace; */
        background-size: auto 100%;
        background-repeat: repeat;
        background-origin: border-box;
    }

    body {
        height: 100%;
        position: relative;
    }

 
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .hidden {
        display:  none;
    }
